
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>best dealer</title>
    <script src="https://kit.fontawesome.com/844521e4f0.js" crossorigin="anonymous"></script>
    <style>
        main {
            min-height: calc(100vh - 56px - 122px);
        }

        .not-visible {
            display: none;
        }

        .hide {
            display: none;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }



        .container {
        }

        .glass {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile {
            background: white;
            margin-top: 1rem;
            width: 100%;
            border-radius: 30px;
            background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) );
        }

        .card {
            border-radius: 20px;
            margin: 1rem;
            background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) );
            box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
        }

        .fa-trash-alt {
            color: red;
        }


        .card-body {
            background-color: white;
        }

        .card-shadow {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        }

        .not-visible {
            display: none;
        }

        .card-body1 {
            /* background-color: white;
        */
            border: 2px solid;
        }

        .addbtn {
            padding-left: 80%;
        }

        main {
            min-height: calc(100vh - 56px - 82px);
        }

        .search {
            color: white;
        }

        .profile_inputfield {
            border: none;
        }

        #updatebtn {
            display: none;
        }

        .profile_update_icons {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>

    <main>
        @if (TempData["Updatemessage"] != null)
        {
            <div class="alert alert-success alert-dismissible alert-dismissible fade show" role="alert">
                <strong>Success!</strong> @TempData["Updatemessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="glass">
            <div class="profile">

                <div class="user">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12">

                                <div class="class" id="image-box">

                                    <img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png"
                                         class="card-img-top"
                                         alt=""
                                         style="width: 100px; height: 100px" />

                                </div>



                                <div class="container">
                                    <div id="progress-bar" class="not-visible">

                                    </div>

                                    <div id="cancel-box" class="not-visible">
                                        <button class="btn btn-danger" id="cancel-btn">Cancel</button>
                                    </div>
                                </div>
                                <div class="container">
                                    @foreach (var user in Model.User)
                                    {
                                        using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post))
                                        {
                                            <p>username: <input name="UserName" value="@user.UserName" class="profile_inputfield" readonly /></p>
                                            <p>Email: <input name="Email" value="@user.Email" class="profile_inputfield" readonly /></p>
                                            <p>Phone: <input name="MobNum" value="@user.MobNum" class="profile_inputfield" readonly /></p>
                                          
                                            <div class="profile_update_icons">
                                                <p>
                                                    Location: <input name="Location" value="@user.Location" class="profile_inputfield" readonly />
                                                    <i onclick="Editprofile()" class="fa-regular fa-pen-to-square"></i>

                                                </p>
                                                <button type="submit" class="btn btn-success" style="margin-left:10px" id="updatebtn">Update</button>
                                            </div>
                                        }
                                    }

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="alert-box">
            </div>
        </div>

        <!-- product title -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 mt-2">
                    <strong>Your Products</strong><hr>
                </div>
            </div>
        </div>
        <!--   DISPLAYING PRODUCTS -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="pro">
                        @if (TempData["emptyproducts"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible alert-dismissible fade show" role="alert">
                                <strong> @TempData["emptyproducts"]</strong>

                            </div>
                        }
                        @foreach (var detail in Model.Products)
                        {
                            <div class="card">
                                <img src="~/Uploads/@detail.ImageFile" alt="" height="150" width="150" />
                                <div class="card-info">

                                    <h2 class="m-2">@detail.productName</h2>
                                    <p class="m-2">@detail.productDescription</p>

                                    <div class="btn">
                                        <a href="@Url.Action("Index", "ProductEdit", new { id = detail.Id })">
                                            <i class="fas fa-edit m-2"></i>
                                        </a>
                                        <a href="javascript:void(0);" onclick="confirmAndRedirect('@Url.Action("Index", "Delete", new { id = detail.Id })')">
                                            <i class="fas fa-trash-alt m-3"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script>
        function confirmAndRedirect(url) {
            var confirmation = window.confirm("Are you sure you want to delete?");
            if (confirmation) {
                window.location.href = url;
            }
        }

        function Editprofile() {
            var profileInputs = document.querySelectorAll(".profile_inputfield");
            profileInputs.forEach(function (input) {
                input.removeAttribute("readonly");
                input.style.border = "1px solid #ccc";

            });
            var update_btn = document.getElementById("updatebtn");
            update_btn.style.display = "block";

        }
    </script>


</body>
</html>

